html, body{
	background-color: rgb(0, 160, 155);
	font-family: sans-serif;
}
.encabezado{
	align-items: baseline;
	background: rgb(255, 255, 255);
	border-style: none;
	display: flex;
}
.encabezado div{
	margin-top: 20px;
	margin-bottom: 20px;
}
div{
	padding-left: 20px;
	padding-right: 20px;
}
.encabezado .encabezado__title{
	color: rgb(0,160,155);
	font-size: 25px;
}

.encabezado .encabezado__subtitle{
	color: rgb(198, 198, 198);
	font-size: 10px;
	padding-right: 600px;
}
.encabezado__candado{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px;
	border-left: ridge;
	border-color: rgb(230, 236, 236);
	border-width: 1px;
	height: 15px;
	width: 15px;
	padding-right: 2px;
}
.encabezado__contrasenas{
	color: rgb(0, 196, 192);
	font-size: 15px;
	padding-left: 2px;
}
.encabezado__downarrow{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 15px;
	width: 15px;
	padding-left: 5px;
}
.encabezado__moreactions{
	border: 1px;
	border-left: ridge;
	border-color: rgb(230, 236, 236);
	border-width: 1px;
	color: rgb(0, 160, 155);
	font-size: 15px;
	padding-right: 5px;
}
.pestana__opciones{
	background: rgb(255, 255, 255);
	border: 2px;
	border-radius: 5px;
	bottom: 70px;
	color: rgb(135, 143, 143);
	font-size: 13px;
	height: 450px;
	left: 50px;
	padding-top: 30px;
	position: absolute;
	width: 225px;
}
.pestana__opciones div{
	margin-top: 18px;
}
.pestana__paquetes{
	color: rgb(225, 230, 230);
}
.pestana__primero{
	color: rgb(1, 156, 151);
}
.pestana__anadir{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 30px;
	width: 30px;
	padding-left: 5px;
}
.pestana__agregar{
	align-items: center;
	display: flex;
	font-size: 9px;
}
.pestana__agregar__paquete{
	color: rgb(0, 160, 155);
	padding-top: 15px;
}
.pestana__agregar div{
	margin-top: 1px;
}
.pestana__Escribe{
	text-align: center;
	background: rgb(241, 246, 246);
	border: 2px;
	border-radius: 5px;
	color: rgb(192, 192, 192);
	height: 20px;
	padding-top: 9px;
}
.barra__A{
	align-items: center;
	border: 1px;
	border-bottom: ridge;
	border-color: rgb(215, 225, 225);
	border-width: 1px;
	display: flex;
	flex-direction: row;
	height: 50px;
	margin-left: 350px;
	margin-top: 40px;
	width: 850px;
}
.barra__seccion{
	color: rgb(0, 147, 142);
	font-size: 20px;
}
button{
	border: 2px solid;
	border-radius: 12px;
	height: 35px;
	width: 175px;
}
.barra__editar{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
	padding-left: 5px;
}
.barra__eliminar{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
	padding-left: 5px;
}
.barra__agregar__libro{
	background-color: rgb(0, 188, 93);
	border-color: rgb(0, 188, 93);
	color: rgb(255, 255, 255);
	font-size: 12px;
	margin-left: 200px;
}
.barra__agregar__categoria{
	background-color: rgb(0, 188, 183);
	border-color: rgb(0, 188, 183);
	color: rgb(255, 255, 255);
	font-size: 12px;
	margin-left: 30px;
}
.barra__B{
	align-items: center;
	border: 1px;
	border-bottom: ridge;
	border-color: rgb(215, 225, 225);
	border-width: 1px;
	display: flex;
	flex-direction: row;
	height: 50px;
	margin-left: 350px;
	width: 850px;
}
.barra__B__borrar{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
	padding-left: 5px;
}
.barra__B__erase{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 20px;
	width: 20px;
	padding-left: 5px;
}
.barra__B__espanol{
	align-items: center;
	border: 3px;
	border-bottom: solid;
	border-color: rgb(1, 156, 151);
	border-width: 5px;
	color: rgb(1, 156, 151);
	display: flex;
	height: 50px;
}
.barra__B__ingles{
	color: rgb(122, 165, 164);
}